$primaryTextColor: #000;
$secondaryTextColor: #4C858B;
$tertiaryTextColor: #E33E54;
$quaternaryTextColor: #AE2236;
$fifthTextColor: #EA6628;
$footerTextColor: #fff;
$PageBackColor: #fff;
$footerBackColor: #0C2F33;
$desktop: 1920px;
$tablet: 768px;
$mobile: 320px;
$fontFamily: Montserrat,
Arial,
sans-serif;
$center: 0 auto;
$width1920block: 1218px / 1920px * 100%;