mixin  header__nav
  a.header__nav-item(href="#" target="_blank") Каталог товаров
  a.header__nav-item(href="#" target="_blank") Доставка и оплата
  a.header__nav-item(href="#" target="_blank") Цены
  a.header__nav-item(href="#" target="_blank") Контакты

mixin  header__links
  a.header__link-vk(href="#" target="_blank")
  a.header__link-telegram(href="#" target="_blank")
  a.header__link-instagram(href="#" target="_blank")
  a.header__link-whatsapp(href="#" target="_blank")


mixin  header__buttons
  a.header__button_search(href="#" target="_blank")
  a.header__button_like(href="#" target="_blank")
  a.header__button_orders(href="#" target="_blank")


mixin  head-content__list
  ul.head-content__list
    li.head-content__list-item Доступные цены
    li.head-content__list-item Собственное производство Дымоходов
    li.head-content__list-item Выполнение необходимых работ, связанных с&nbsp;установкой камина, печи, котла
    li.head-content__list-item Гарантия (от&nbsp;трёх до&nbsp;десяти лет)
    li.head-content__list-item Работаем чисто, аккуратно, убираем за&nbsp;собой, не&nbsp;сквернословим
    li.head-content__list-item Только русские квалифицированные специалисты
    li.head-content__list-item Устанавливаем любые дымоходы всех производителей

mixin  process__list
  ul.process__list
    li.process__list-item <span class="process__number">1</span> Рассчёт предварительной заявки
    li.process__list-item <span class="process__number">4</span> Изготовление Дымохода, покраска (если требуется)
    li.process__list-item <span class="process__number">2</span> Замер объекта нашим инженером
    li.process__list-item <span class="process__number">5</span> Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
    li.process__list-item <span class="process__number">3</span> Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на работы
    li.process__list-item <span class="process__number">6</span> Гарантийное обслуживание по соответствующем сроку


mixin  why__reasons
  div.reasons
    div.guarantee.reasons__block
      div.guarantee__image
      h3.guarantee__heading.reasons__heading Большой гарантийный срок
      ul.guarantee__list.reasons__description
        li.guarantee__list-item Крепёж, стыковка элементов&nbsp;&mdash; <span class='guarantee__list-span'>10&nbsp;лет</span>
        li.guarantee__list-item Сквозная коррозия труб&nbsp;&mdash; <span class='guarantee__list-span'>5&nbsp;лет</span>
        li.guarantee__list-item Гидроизоляция&nbsp;&mdash; <span class='guarantee__list-span'>3&nbsp;года</span>
    div.help.reasons__block
      div.help__image
      h3.help__heading.reasons__heading  Помощь в&nbsp;покупке агрегата
      p.help__description.reasons__description (печи, камина, котла), а&nbsp;также качественной установке на&nbsp;объекте с&nbsp;последующим гарантийным сервисом
    div.feedback.reasons__block
      div.feedback__image
      h3.feedback__heading.reasons__heading Реальные отзывы клиентов
      p.feedback__description.reasons__description Убедитесь в&nbsp;добросовестности исполнения, прочитав Отзывы клиентов в&nbsp;специальном разделе.


mixin  consultation__links
  a.consultation__link-vk(href="#" target="_blank")
  a.consultation__link-telegram(href="#" target="_blank")
  a.consultation__link-instagram(href="#" target="_blank")
  a.consultation__link-whatsapp(href="#" target="_blank")


mixin  grid-container
  li.grid-container__item
    a.grid-container__link(href="#")
      img.grid-container__img(src='assets/images/examples/img-example(1).jpg' alt='стена')
  li.grid-container__item
    a.grid-container__link(href="#")
      img.grid-container__img(src='assets/images/examples/img-example(2).jpg' alt='стена')
  li.grid-container__item
    a.grid-container__link(href="#")
      img.grid-container__img(src='assets/images/examples/img-example(3).jpg' alt='стена')
  li.grid-container__item
    a.grid-container__link(href="#")
      img.grid-container__img(src='assets/images/examples/img-example(4).jpg' alt='стена')
  li.grid-container__item
    a.grid-container__link(href="#")
      img.grid-container__img(src='assets/images/examples/img-example(5).jpg' alt='стена')
  li.grid-container__item
    a.grid-container__link(href="#")
      img.grid-container__img(src='assets/images/examples/img-example(6).jpg' alt='стена')
  li.grid-container__item
    a.grid-container__link(href="#")
      img.grid-container__img(src='assets/images/examples/img-example(7).jpg' alt='стена')
  li.grid-container__item
    a.grid-container__link(href="#")
      img.grid-container__img(src='assets/images/examples/img-example(8).png' alt='стена')



mixin  footer__catalog
  a.catalog__item(href='#' target='_blank') Дымоходы
  a.catalog__item(href='#' target='_blank') Дымососы
  a.catalog__item(href='#' target='_blank') Печи для дома
  a.catalog__item(href='#' target='_blank') Печи для бани
  a.catalog__item(href='#' target='_blank') Камины
  a.catalog__item(href='#' target='_blank') Силикат кальция
  a.catalog__item(href='#' target='_blank') Котлы
  a.catalog__item(href='#' target='_blank')  Ещё


mixin footer__info
  a.info__item(href='#' target='_blank') Каталог
  a.info__item(href='#' target='_blank') Установка и монтаж
  a.info__item(href='#' target='_blank') Отзывы
  a.info__item(href='#' target='_blank') Ликвидация товара
  a.info__item(href='#' target='_blank') Полезное
  a.info__item(href='#' target='_blank') Контакты
  a.info__item(href='#' target='_blank') Оплата и доставка


mixin footer__links
  a.working-hours__link-vk(href="#" target="_blank")
  a.working-hours__link-telegram(href="#" target="_blank")
  a.working-hours__link-instagram(href="#" target="_blank")
  a.working-hours__link-whatsapp(href="#" target="_blank")
