.installation {
    .installation__rectangle {
        @include backgroundImage('../../assets/images/Rectangle.svg', start, no-repeat, cover, 75px, 5px);
        margin: 0 0 12px 5px;
    }
    .installation__background {
        @include backgroundImage('../../assets/images/Group installation.jpg', center, no-repeat, cover, 1186px, 416px);
        margin: $center;
        width: 100%;
    }
    .installation__heading {
        @include font(2.5rem, 600, 122%, start, 1, $primaryTextColor, 0.12rem);
        margin: 0 0 65px 0;
    }
    .installation__description {
        @include font(1rem, 400, 188%, start, 1, $primaryTextColor, 0.06rem);
        margin: 0 0 45px 5px;
    }
    .installation__relative-container {
        height: 0;
        padding-bottom: 40%;
        position: relative;
        overflow: hidden;
        width: 771px / 1218px * 100%;
        margin: $center;
    }
    .installation__relative-container iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin: 50px 0 0 0;
        border: none;
    }
}