include ../../views/helpers/mixins

section.why.container
  div.why__rectangle
  h2.why__heading Почему Дымоход.ру?
  p.why__description В&nbsp;отличие от&nbsp;других производителей, мы&nbsp;ручаемся за&nbsp;качество продукции, т.к. все Дымоходы изготавливаются из&nbsp;качественной стали, проверенного теплоизолятора, по&nbsp;современной технологии плазменной сварки &laquo;встык&raquo;
  +why__reasons
