include ../../views/helpers/mixins

section.article.container
  h1.article__heading Монтаж дымоходов
  section.breadcrumbs
    div.breadcrumbs__content Главная <span class="breadcrumbs__last-crumb"> &gt; Монтаж дымоходов</span>
  p.article__description В&nbsp;<span class="article__description-span">Дымоход.ру</span> вам помогут как приобрести, так и&nbsp;установить дымоход любой конфигурации. В&nbsp;нашем монтажном отделе, состоящим из&nbsp;трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и&nbsp;аккуратно, в&nbsp;короткий срок и&nbsp;на&nbsp;совесть.
  div.head-content
    h2.head-content__heading Lorem ipsum dolor sit amet <b class="head-content__lorem">Lorem ipsum</b>
    +head-content__list
    div.head-content__image
      img.head-content__flue(src='assets/images/flue.png' alt='дымоход')
