.article {
    @include flex(column, flex-start, flex-start);
    .article__heading {
        @include font(3.75rem, 700, 122%, start, 1, $primaryTextColor, 0.25rem);
        margin: 55px 0 40px 10px;
    }
    .article__description {
        @include font(1rem, 400, 188%, start, 1, $primaryTextColor, 0.07rem);
        margin: 0 0 45px 5px;
        .article__description-span {
            color: $tertiaryTextColor;
            font-weight: 600;
        }
    }
}

.breadcrumbs {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    margin-bottom: 84px;
    .breadcrumbs__last-crumb {
        color: $secondaryTextColor;
    }
    .breadcrumbs__content {
        @include font(0.75rem, 400, 15px, start, 1, #B1B1B1, 0.06rem);
        padding: 15px 0 15px 0;
    }
}

.head-content {
    @include grid(1fr 1fr, 120px 1fr, 0, 20px);
    width: calc(100% + 165px);
    margin: 0 0 112px 0;
    .head-content__heading {
        grid-column-start: 1;
        grid-row-start: 1;
        margin: 0;
        @include font(2.5rem, 600, 158%, start, 1, $primaryTextColor, 0.1rem);
        .head-content__lorem {
            @include font(3rem, 800, 100%, start, 1, $tertiaryTextColor, 0);
            text-transform: uppercase;
        }
    }
    .head-content__list {
        grid-column-start: 1;
        grid-row-start: 2;
        padding: 40px 0 0 55px;
        margin: 0;
        list-style-type: disc;
        @include font(1rem, 400, 150%, start, 1, $primaryTextColor, 0.06rem);
        .head-content__list-item {
            margin: 0 0 20px 0;
            &::marker {
                color: $fifthTextColor;
                font-size: 1.625rem;
            }
            &:last-child {
                margin: 0;
            }
        }
    }
    .head-content__image {
        @include backgroundImage('../../assets/images/group-head-content.svg', center, no-repeat, cover, 770px, 580px);
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        position: relative;
        .head-content__flue {
            width: 480px;
            height: 460px;
            position: absolute;
            left: 180px;
            bottom: 140px;
        }
    }
}

@media screen and (max-width: $desktopSmall) {
    .article {
        .article__heading {
            font-size: 2.8125rem;
            margin: 45px 0 30px 10px;
        }
    }
    .head-content {
        @include grid(1fr, 101px 1fr, 0, 0);
        width: 100%;
        margin: 0 0 54px 0;
        .head-content__heading {
            font-size: 1.875rem;
            line-height: 173%;
            width: 60%;
            .head-content__lorem {
                font-size: 2.4rem;
            }
        }
        .head-content__list {
            padding: 15px 0 0 55px;
        }
        .head-content__image {
            display: none;
        }
    }
}

@media screen and (max-width: ($tablet + 100px)) {
    .article {
        .article__heading {
            font-size: 2.8125rem;
            margin: 60px 0 30px 0;
        }
        .article__description {
            margin: 0 0 20px 0;
        }
    }
    .breadcrumbs {
        margin-bottom: 62px;
    }
}

@media screen and (max-width: ($mobile + 100px)) {
    .article {
        .article__heading {
            font-size: 1.875rem;
            margin: 45px 0 10px 0;
            letter-spacing: 0.07rem;
        }
        .article__description {
            font-size: 0.875rem;
            margin: 0 0 15px 0;
            letter-spacing: 0.04rem;
        }
        .head-content {
            @include grid(1fr, 70px 1fr, 0, 0);
            width: 100%;
            margin: 0 0 35px 0;
            .head-content__heading {
                font-size: 1.125rem;
                line-height: 206%;
                width: 100%;
                letter-spacing: 0.06rem;
                .head-content__lorem {
                    font-size: 1.75rem;
                    letter-spacing: 0.08rem;
                }
            }
            .head-content__list {
                padding: 12px 0 0 40px;
                font-size: 0.875rem;
                line-height: 171%;
                letter-spacing: 0.06rem;
                .head-content__list-item {
                    margin: 0 0 15px 0;
                    &::marker {
                        color: $fifthTextColor;
                        font-size: 1.875rem;
                    }
                }
            }
        }
        .breadcrumbs {
            margin-bottom: 20px;
        }
    }
}
