@font-face {
  src: url("../../assets/fonts/Montserrat-Regular.ttf") format("tff");
  font-family: "Montserrat";
  font-weight: 400;
}
@font-face {
  src: url("../../assets/fonts/Montserrat-Medium.ttf") format("tff");
  font-family: "Montserrat";
  font-weight: 500;
}
@font-face {
  src: url("../../assets/fonts/Montserrat-SemiBold.ttf") format("tff");
  font-family: "Montserrat";
  font-weight: 600;
}
@font-face {
  src: url("../../assets/fonts/Montserrat-Bold.ttf") format("tff");
  font-family: "Montserrat";
  font-weight: 700;
}
@font-face {
  src: url("../../assets/fonts/Montserrat-ExtraBold.ttf") format("tff");
  font-family: "Montserrat";
  font-weight: 800;
}
@import-normalize;
.header {
  height: 100px;
  width: 92.96875%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo {
  background-image: url("../../assets/images/Logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
  height: 100px;
}
.header .header__burger-menu {
  background-image: url("../../assets/images/burger menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  width: 56px;
  height: 56px;
}
.header .header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}
.header .header__nav .header__nav-item {
  font-size: 1rem;
  font-weight: 700;
  line-height: 144%;
  text-align: center;
  opacity: 1;
  color: #4C858B;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  text-decoration: none;
}
.header .header__callback {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 122%;
  text-align: center;
  opacity: 1;
  color: #AE2236;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  border-bottom: 1px dashed #AE2236;
  padding: 0 0 5px 0;
}
.header .header__tel {
  font-size: 1rem;
  font-weight: 400;
  line-height: 122%;
  text-align: center;
  opacity: 1;
  color: #4C858B;
  letter-spacing: 0.08em;
}
.header .header__tel .header__span-tel {
  color: #000;
}
.header .header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .header__links .header__link-vk {
  background-image: url("../../assets/images/vk.svg");
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.header .header__links .header__link-telegram {
  background-image: url("../../assets/images/telegram.svg");
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.header .header__links .header__link-instagram {
  background-image: url("../../assets/images/instagram.svg");
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.header .header__links .header__link-whatsapp {
  background-image: url("../../assets/images/whatsapp.svg");
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  width: 20px;
  height: 20px;
}
.header .header__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .header__buttons .header__button_search {
  background-image: url("../../assets/images/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  width: 60px;
  height: 60px;
  margin-right: 16px;
}
.header .header__buttons .header__button_like {
  background-image: url("../../assets/images/like.svg");
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  width: 60px;
  height: 60px;
  margin-right: 16px;
}
.header .header__buttons .header__button_orders {
  background-image: url("../../assets/images/cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  width: 60px;
  height: 60px;
}

.article {
  width: 63.4375%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.article .article__heading {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 122%;
  text-align: center;
  opacity: 1;
  color: #000;
  letter-spacing: 0.25rem;
  margin: 55px 0 40px 0;
}
.article .article__description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 188%;
  text-align: start;
  opacity: 1;
  color: #000;
  letter-spacing: 0.07rem;
  margin: 0 0 45px 0;
}
.article .article__description .article__description-span {
  color: #E33E54;
}

.breadcrumbs {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  margin-bottom: 85px;
}
.breadcrumbs .breadcrumbs__last-crumb {
  color: #4C858B;
}
.breadcrumbs .breadcrumbs__content {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 15px;
  text-align: start;
  opacity: 1;
  color: #B1B1B1;
  letter-spacing: 0.06rem;
  padding: 15px 0 15px 0;
}

.head-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 120px 1fr;
  row-gap: 0;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: calc(100% + 165px);
  margin: 0 0 112px 0;
}
.head-content .head-content__heading {
  grid-column-start: 1;
  grid-row-start: 1;
  margin: 0;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 158%;
  text-align: start;
  opacity: 1;
  color: #000;
  letter-spacing: 0.1rem;
}
.head-content .head-content__heading .head-content__lorem {
  font-size: 3rem;
  font-weight: 800;
  line-height: 100%;
  text-align: start;
  opacity: 1;
  color: #E33E54;
  letter-spacing: 0;
  text-transform: uppercase;
}
.head-content .head-content__list {
  grid-column-start: 1;
  grid-row-start: 2;
  padding: 40px 0 0 55px;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  text-align: start;
  opacity: 1;
  color: #000;
  letter-spacing: 0.06rem;
}
.head-content .head-content__list .head-content__list-item {
  margin: 0 0 20px 0;
}
.head-content .head-content__list .head-content__list-item::marker {
  color: #EA6628;
  font-size: 1.625rem;
}
.head-content .head-content__list .head-content__list-item:last-child {
  margin: 0;
}
.head-content .head-content__image {
  background-image: url("../../assets/images/Group head-content.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  width: 770px;
  height: 570px;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
}
.head-content .head-content__image .head-content__flue {
  width: 480px;
  height: 460px;
  position: absolute;
  left: 185px;
  bottom: 130px;
}

.process {
  width: 63.4375%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.process .process__rectangle {
  background-image: url("../../assets/images/Rectangle 5.svg");
  background-position: start;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  width: 75px;
  height: 5px;
  margin: 0 0 12px 0;
}
.process .process__heading {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 122%;
  text-align: center;
  opacity: 1;
  color: #000;
  letter-spacing: 0.13rem;
  margin: 0 0 50px 0;
}
.process .process__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 0;
  margin: 0 0 90px 0;
}
.process .process__list .process__list-item {
  font-size: 1rem;
  font-weight: 400;
  line-height: 188%;
  text-align: start;
  opacity: 1;
  color: #000;
  letter-spacing: 0.07rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-items: center;
}

.process__number {
  font-size: 4.375rem;
  font-weight: 700;
  line-height: 122%;
  text-align: start;
  opacity: 0.2;
  color: #EA6628;
  letter-spacing: 0;
  margin-right: 30px;
}

.why {
  width: 63.4375%;
  margin: 0 auto;
}
.why .why__rectangle {
  background-image: url("../../assets/images/Rectangle 5.svg");
  background-position: start;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  width: 75px;
  height: 5px;
  margin: 0 0 12px 0;
}
.why .why__heading {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 122%;
  text-align: start;
  opacity: 1;
  color: #000;
  letter-spacing: 0.12rem;
  margin: 0 0 50px 0;
}
.why .why__description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 188%;
  text-align: start;
  opacity: 1;
  color: #000;
  letter-spacing: 0.06rem;
  margin: 0 0 45px 0;
}

.reasons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 30px;
}
.reasons .reasons__heading {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 150%;
  text-align: start;
  opacity: 1;
  color: #000;
  letter-spacing: 0.08rem;
  margin: 0 0 10px 0;
}
.reasons .reasons__description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 188%;
  text-align: start;
  opacity: 1;
  color: #000;
  letter-spacing: 0.04rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.reasons .reasons__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 33.3333333333%;
  margin: 0 0 100px 0;
  list-style-type: none;
  padding: 0;
}

.guarantee__image {
  background-image: url("../../assets/images/guarantee 1.svg");
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80px;
  height: 80px;
  margin: 0 0 35px 0;
}

.help__image {
  background-image: url("../../assets/images/architect 1.svg");
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80px;
  height: 80px;
  margin: 0 0 35px 0;
}

.feedback__image {
  background-image: url("../../assets/images/review 1.svg");
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80px;
  height: 80px;
  margin: 0 0 35px 0;
}

.guarantee__list-span {
  color: #E33E54;
}

body {
  font-family: Montserrat, Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  min-width: 320px;
}

.main {
  background: #fff;
}/*# sourceMappingURL=main.css.map */