include ../../views/helpers/mixins

header.header
  section.header__logo
  a.header__burger-menu
  nav.header__nav
    +header__nav
  section.header__tel +7 (812)  <b class="header__bold-tel">509 21 98</b>
  section.header__callback перезвоните мне
  nav.header__links
    +header__links
  section.header__buttons
    +header__buttons
