include ../../views/helpers/mixins

header.header
  a.header__logo-link(href="#" target="_blank")
    div.header__logo
  button.header__burger-menu(type='button')
  nav.header__nav
    +header__nav
  div.header__tel +7 (812)  <span class="header__span-tel">509 21 98</span>
  div.header__callback перезвоните мне
  nav.header__links
    +header__links
  div.header__buttons
    +header__buttons
