@import 'header/header';
@import 'footer/footer';
@import 'article/article';
@import 'process/process';
@import 'why/why';
@import 'consultation/consultation';
@import 'installation/installation';
@import 'examples/examples';
body {
    font-family: $fontFamily;
    margin: $center;
    padding: 0;
    max-width: $desktop;
    min-width: $mobile;
}

.main {
    background: $PageBackColor;
}