.footer {
    width: 100%;
    background-color: $footerBackColor;
    color: $footerTextColor;
    .footer__content {
        width: $width1920block;
        margin: $center;
        @include flex(row, space-between, center);
        padding: 90px 0 100px 0;
        .footer__content-catalog {
            @include flex(column, flex-start, flex-start);
            width: 343px / 1218px * 100%;
        }
        .footer__content-info {
            @include flex(column, flex-start, flex-start);
            width: 343px / 1218px * 100%;
        }
        .footer__content-wh {
            @include flex(column, flex-start, flex-start);
            width: 343px / 1218px * 100%;
            margin-right: -35px;
        }
    }
}

.catalog {
    @include flex(column, flex-start, flex-start);
    flex-wrap: wrap;
    height: 170px;
    column-gap: 110px;
    .catalog__item {
        text-decoration: none;
        @include font(0.875rem, 400, 122%, start, 1, $footerTextColor, 0.04rem);
        margin-bottom: 18px;
    }
}

.info {
    @include flex(column, flex-start, flex-start);
    flex-wrap: wrap;
    height: 170px;
    column-gap: 55px;
    .info__item {
        text-decoration: none;
        @include font(0.875rem, 400, 122%, start, 1, $footerTextColor, 0.04rem);
        margin-bottom: 18px;
    }
}

.working-hours {
    @include flex(column, flex-start, flex-start);
    height: 170px;
    .working-hours__hours {
        @include font(0.875rem, 400, 171%, start, 1, $footerTextColor, 0.04rem);
        margin-bottom: 10px;
        .working-hours__span-hours {
            color: $secondaryTextColor;
        }
    }
    .working-hours__address {
        @include font(0.875rem, 400, 171%, start, 1, $footerTextColor, 0.04rem);
        margin-bottom: 25px;
    }
    .working-hours__links {
        @include flex(row, space-between, center);
        .working-hours__link-vk {
            @include backgroundImage('../../assets/images/vk.svg', center, no-repeat, cover, 23px, 23px);
            margin-right: 50px;
        }
        .working-hours__link-telegram {
            @include backgroundImage('../../assets/images/telegram.svg', center, no-repeat, cover, 22px, 23px);
            margin-right: 50px;
        }
        .working-hours__link-instagram {
            @include backgroundImage('../../assets/images/instagram.svg', center, no-repeat, cover, 18px, 19px);
            margin-right: 50px;
        }
        .working-hours__link-whatsapp {
            @include backgroundImage('../../assets/images/whatsapp.svg', center, no-repeat, cover, 18px, 19px);
        }
    }
}

.footer__heading {
    @include font(1.375rem, 700, 122%, start, 1, $footerTextColor, 0.06rem);
    margin: 0 0 20px 0;
    text-transform: uppercase;
}