@mixin fonts($path, $ffamily, $weight) {
    @font-face {
        src: url('#{$path}.ttf') format('tff');
        font-family: '#{$ffamily}';
        font-weight: $weight;
    }
}

@include fonts('../fonts/Montserrat-Regular.ttf',
'Montserrat',
400);
@include fonts('../fonts/Montserrat-SemiBold.ttf',
'Montserrat',
600);
@include fonts('../fonts/Montserrat-Bold.ttf',
'Montserrat',
700);
@include fonts('../fonts/Montserrat-ExtraBold.ttf',
'Montserrat',
800);
